@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #333;
}
.main_button_container{
  display: flex;
  gap: 25px;
  margin-top: 20px;
  align-items: center;
}
.main_btn{
  width: 180px;
  height: 40px;
  background-color: #000;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: 0.5s;
}
.main_btn:hover{
  transition: 0.5s;
  text-decoration: underline;
}
.reg_btn:hover{
  letter-spacing: 1.2px;
}
.login_btn:hover{
  letter-spacing: 2.5px;
}

.loginPage{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panelTitle{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.panelTitleText{
  font-size: 40pt;
}
.loginInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginInput{
  margin-top: 10px;
  height: 30px;
  padding-left: 8px;
  width: 262px;
}
.login_button_container{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
